@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.container {
  .title {
    @include titleStyle;

    @media (max-width: 768px) {
      margin: 10px 0;
    }
  }

  .buttons {
    margin: 10px;
  }

  .button {
    @include buttonStyle;
    color: $white;
    background-color: $lightPurple;
  }
}
