@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.container {
  .title {
    @include titleStyle;
  }

  .buttons {
    margin: 10px;
  }

  .button {
    @include buttonStyle;
    color: $white;
    background-color: $lightPurple;
  }
}
