.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    margin: 5px;
  }

  .button {
    color: #fff;
    margin: 10px;
    border-radius: 50%;
    transition: 200ms;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    @media (max-width: 768px) {
      margin: 5px;
    }

    &:not(.cannot):hover {
      transform: scale(1.05);
    }

    &.back {
      padding: 10px;
      background: linear-gradient(1deg, #f5a80d 0%, #ffcf71 60%);
    }

    &.like {
      padding: 15px;
      background: linear-gradient(1deg, rgb(230, 0, 0) 0%, #e66465 60%);
    }

    &.nope {
      padding: 15px;
      background: linear-gradient(1deg, #003454 0%, #2f4858 60%);
    }

    &.skip {
      padding: 10px;
      background: linear-gradient(1deg, #ac24aa 0%, #ac5fab 60%);
    }

    &.cannot {
      background: #b9bfc8;
      cursor: default;
    }
  }
}
