@import "@/styles/colors.scss";

.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    margin: 5px;
  }

  .button {
    color: $white;
    margin: 10px;
    border-radius: 50%;
    transition: 200ms;
    box-shadow: 0px 0px 30px 0px $semiTransparentBlack10;
    cursor: pointer;

    @media (max-width: 768px) {
      margin: 5px;
    }

    &:not(.cannot):hover {
      transform: scale(1.05);
    }

    &.back {
      padding: 10px;
      background: linear-gradient(1deg, $gold 0%, $dotYellow 60%);
    }

    &.like {
      padding: 15px;
      background: linear-gradient(1deg, $dotRed 0%, $brandRed 60%);
    }

    &.nope {
      padding: 15px;
      background: linear-gradient(1deg, $nopeUp 0%, $nopeDown 60%);
    }

    &.skip {
      padding: 10px;
      background: linear-gradient(1deg, $lightPurple 0%, $dotPurple 60%);
    }

    &.cannot {
      background: $blueGray;
      cursor: default;
    }
  }
}
