@import "@/styles/colors.scss";

.container {
  width: 580px;
  max-width: 580px;
  height: 115px;
  min-height: 115px;
  background-color: $white;
  border-radius: 0 0 20px 20px;
  overflow: scroll;

  @media (max-width: 768px) {
    width: 90vw;
  }

  p,
  a {
    color: $gray;
  }

  .name {
    margin-top: 7px 10px 0 10px;
    font-weight: bold;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .vicinity {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ratingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
