.container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: #fff;
  background-color: #000000;
  padding: 10px 10px 30px 10px;
  font-size: 20px;

  @media (max-width: 768px) {
    padding: 10px;
  }

  .linkContainer,
  .userContainer {
    display: flex;
    flex-flow: column;

    @media (max-width: 768px) {
      display: none;
    }

    a {
      padding: 10px;
      margin: 5px 0;

      &:hover {
        background-color: #131313;
      }
    }

    span {
      margin-left: 15px;
      font-weight: bold;

      @media (max-width: 1264px) {
        display: none;
      }
    }
  }

  .linkContainer {
    a {
      display: flex;
      align-items: center;
    }

    svg {
      margin: 5px;
    }
  }

  .userContainer {
    .largeText {
      display: block;

      @media (max-width: 1264px) {
        display: none;
      }
    }

    .middleText {
      margin: 0;
      display: none;

      @media (max-width: 1264px) {
        display: block;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .smallText {
      display: none;
    }

    .userInfoContainer {
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 5px 0;

      .image {
        border-radius: 20px;
      }
    }

    .authContainer {
      padding: 10px;

      .authLink {
        padding: 10px 50px;

        @media (max-width: 1264px) {
          display: none;
        }
      }

      .hamburger {
        display: none;
        margin: 5px;
        position: relative;

        @media (max-width: 1264px) {
          display: block;
        }
      }

      .menu {
        position: absolute;
        top: -75%;
        left: 150%;
        background-color: #000000;
        border: 1px solid #262626;
        border-radius: 4px;
        width: 200px;
        padding: 20px;
        z-index: 1000;
        box-shadow: 0px 0px 10px 5px rgba(59, 59, 59, 0.3);
      }
    }
  }

  .mobileContainer {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
    }

    .image {
      border-radius: 17px;
    }

    svg {
      margin: 5px;
    }

    .largeText,
    .middleText {
      display: none;
    }

    .smallText {
      display: block;
      width: 36px;
      height: 36px;
    }

    .menu {
      position: absolute;
      top: -120%;
      right: 3%;
      background-color: #000000;
      border: 1px solid #262626;
      border-radius: 4px;
      width: 200px;
      padding: 20px;
      z-index: 1000;
      box-shadow: 0px 0px 10px 5px rgba(59, 59, 59, 0.3);
    }
  }
}
