.info {
    bottom: 10vh;
    width: 90vw;
    position: absolute;
    background-color: #b0b0b0;
    border-radius: 10px 10px 0 0;
}

.image {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}