@import "~font-awesome/css/font-awesome.min.css";

.slider {
    max-width: 580px;
}

.slider :global(.slick-prev) {
    left: 0;
    z-index: 1;
}

.slider :global(.slick-next) {
    right: 0;
}

.slider :global(.slick-prev),
.slider :global(.slick-next) {
    width: 40px;
    height: 40px;
}

.slider :global(.slick-prev:before),
.slider :global(.slick-next:before) {
    font-size: 60px;
    opacity: 1;
    color: #000;
    font-family: FontAwesome;
}

.slider :global(.slick-prev:before) {
    content: "\f0d9";
}

.slider :global(.slick-next:before) {
    content: "\f0da";
}

.slider :global(.slick-prev.slick-disabled),
.slider :global(.slick-next.slick-disabled) {
    opacity: 0;
}

.slider :global(.slick-track) {
    height: 500px;
}

.cotainer {
    width: 580px;
    height: 500px;
}

.image {
    width: 580px;
    height: 500px;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}