$black: #000000;
$white: #ffffff;
$lightGray: #dbdbdb;
$mediumGray: #b7b7b7;
$gray: #707579;
$veryDarkGray: #262626;
$lightBlue: #0095f6;
$darkBlue: #1877f2;
$lightPurple: #9198e5;
$brandRed: #f53b4c;
$gold: #fbbd04;

$semiTransparentBlack80: rgba(0, 0, 0, 0.8);
$semiTransparentBlack50: rgba(0, 0, 0, 0.5);
$semiTransparentBlack30: rgba(0, 0, 0, 0.3);
$semiTransparentBlack10: rgba(0, 0, 0, 0.1);
$semiTransparentWhite20: rgba(255, 255, 255, 0.2);

$gradientRed: #e66465;

$dotBlue: #4285f5;
$dotRed: #ea4436;
$dotYellow: #fbbd06;
$dotGreen: #34a952;
$dotPurple: #cf9fff;
