@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(#fff, #999); */
  background: linear-gradient(#e66465, #9198e5);
}

* {
  user-select: none;
}

body>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  overflow: hidden;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'Damion', cursive;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

h2 {
  color: #fff;
}

h3 {
  /* color: #EB5C6D; */
  color: #000;
}

.swipe {
  position: absolute;
  /* box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30); */
}

.cardContainer {
  width: 580px;
  max-width: 580px;
  height: 600px;
}

.card {
  width: 580px;
  max-width: 580px;
  height: 500px;
  min-height: 500px;
  border-radius: 20px 20px 0 0 ;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card-info h3 {
  color: #fff;
}
.card-info {
  width: 580px;
  max-width: 580px;
  height: 100px;
  min-height: 100px;
  background-color: #121418;
  border-radius: 0 0 20px 20px;
}
.restaurant-name {
  font-weight: bold;
  color: #fff;
}


.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}

/* カルーセル用のスタイルを追加 */
.SliderSection {
  max-width: 580px;
}
.slick-prev {
  left: 0;
  z-index: 1;
} 
.slick-next {
  right: 0;
}
.slick-prev,.slick-next{
  width: 40px;
  height: 40px;
}
.slick-prev:before, .slick-next:before {
  font-size: 40px;
  opacity: 1;
}
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 0;
}

.category-list {
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style: none;
width: 800px;
}
.category-item {
width: 350px;
height: 250px;
padding: 0;
margin: 0 25px 20px 25px;
transition: transform 0.2s;
box-sizing: border-box;
border-radius: 20px;
}
.category-item:hover {
transform: translateY(-5px);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.category-link {
text-decoration: none;
}
.category-image {
width: 350px;
height: 200px;
border-radius: 20px 20px 0 0;
background-size: cover;
background-position: center;
}
.category-text {
background-color: #e1e1e1;
width: 350px;
height: 50px;
border-radius: 0 0 20px 20px;
}
.category-text p {
margin: 0;
font-size: 20px;
font-weight: bold;
line-height: 50px;
color: #000;
}

/* Slider.css */
.distance-wrap {
padding: 50px 10px;
width: 500px;
}

#distance-slider {
height: 15px;
background: lightgrey;
border-radius: 50px;
position: relative;
cursor: pointer;
}

#distance-slider label {
position: absolute;
width: 20px;
margin-top: 20px;
margin-left: -10px;
text-align: left;
font-size: 13px;
}

.slider-handle {
border-radius: 100%;
background: black;
width: 15px;
height: 15px;
cursor: grab;
position: absolute;
transform: translateX(-50%);
}

.price-level-label {
margin: 0 15px;
padding: 10px 20px;
border-radius: 20px;
background-color: #c3c4d3;
display: inline-block;
cursor: pointer;
}
.price-level-label:hover {
background-color: #b9bac5;
transition: 200ms;
}
.price-level-label.price-level-label-selected {
background-color: rgb(51, 51, 51);
color: #c3c4d3;
}
.price-level-label.price-level-label-selected:hover {
background-color: rgb(74, 74, 74);
}

.price-level-label p {
width: 52px;
margin: 0;
letter-spacing: -0.3em;
text-indent: -0.3em;
}
.price-level-button {
display:none;
}
.searchButton {
background-color: #9198e5;
}

.sort-option-label {
margin: 0 15px;
padding: 10px 20px;
border-radius: 20px;
background-color: #c3c4d3;
display: inline-block;
cursor: pointer;
}
.sort-option-label:hover {
background-color: #b9bac5;
transition: 200ms;
}
.sort-option-label.sort-option-label-selected {
background-color: rgb(51, 51, 51);
color: #c3c4d3;
}
.sort-option-label.sort-option-label-selected:hover {
background-color: rgb(74, 74, 74);
}

.sort-option-label p {
margin: 0;
}
.sort-option-button {
display:none;
}
.map-restaurant-info {
  bottom: 10vh;
  width: 90vw;
  position: absolute;
  background-color: #b0b0b0;
  border-radius: 10px 10px 0 0;

}

.map-restaurant-info-image {
  width: 350px;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}