.container {
  height: 100%;
  width: 100%;
  max-width: 400px;
  text-align: left;
  background-color: #fff;
  overflow: scroll;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;

  @media (max-width: 768px) {
    max-width: 730px;
  }

  p,
  a {
    color: #707579;
    display: inline;
  }

  .image {
    width: 100%;
    height: 350px;
    position: relative;

    @media (max-width: 768px) {
      max-height: 300px;
      height: 30dvh;
    }
  }

  .button {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    @media (max-width: 768px) {
      position: fixed;
      margin-top: 10px;
      top: auto;
      right: 5%;
    }

    &:hover {
      color: #b7b7b7;
    }
  }

  .topContainer,
  .bottomContainer {
    padding: 16px 24px;
  }

  .bottomContainer {
    p,
    a {
      color: #000;
      font-size: 14px;
    }
  }

  .subContainer {
    display: flex;
  }

  .name {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
  }

  .rating,
  .postalCode {
    margin-right: 5px;
  }

  .border {
    border-bottom: 1px solid #dadce0;
  }

  .iconContainer {
    margin: 10px 0 20px 0;
    display: flex;

    svg {
      color: #1b73e8;
      font-size: 24px;
      margin-right: 15px;
    }
  }

  .textContainer {
    word-break: break-word;
  }
}
