.container {
  width: 95%;
  max-width: 920px;
  padding: 50px 0 30px 0;
  height: 100%;
  justify-content: flex-start;

  @media (max-width: 768px) {
    padding: 30px 0;
  }

  .border {
    width: 100%;
    border-bottom: solid 1px #dbdbdb;
  }

  .noRestaurants {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media (max-width: 768px) {
      font-size: 25px;
    }
  }

  .restaurantList {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;

    @media (max-width: 768px) {
      margin-top: 15px;
      row-gap: 5px;
    }
  }
  .restaurantList::after {
    display: block;
    content: "";
    width: 300px;
    max-width: 300px;

    @media (max-width: 1264px) {
      width: 28dvw;
    }

    @media (max-width: 768px) {
      width: 31dvw;
    }
  }
}
