.container {
  width: 95%;
  display: flex;
  flex-direction: row;
  position: relative;
  @media (max-width: 768px) {
    height: calc(100dvh - 70px);
    margin-top: 15px;
  }

  .restaurantInfo {
    width: 30%;
    height: 95dvh;
    max-width: 400px;
    min-width: 320px;
    position: relative;
    z-index: 2;
    box-shadow:
      4px 2px 7px rgba(60, 64, 67, 0.3),
      2px 2px 6px 2px rgba(60, 64, 67, 0.15);

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
      max-width: 730px;
      overflow-y: scroll;
      transition: height 0.5s ease-in-out;
    }

    .hiddenContainer {
      @media (max-width: 768px) {
        width: 1px;
        height: 50%;
        display: block;
        background: transparent;
      }
    }

    @keyframes heightToZero {
      from {
        height: 50%;
      }
      to {
        height: 0;
      }
    }

    @keyframes heightToFifty {
      from {
        height: 0;
      }
      to {
        height: 50%;
      }
    }

    .scrollHiddenContainerZero {
      @media (max-width: 768px) {
        animation: heightToZero 1s ease-in-out;
        height: 0;
      }
    }

    .scrollHiddenContainerFifty {
      @media (max-width: 768px) {
        animation: heightToFifty 0.5s ease-in-out;
        height: 50%;
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      box-shadow: 0px 5px 5px -6px rgba(0, 0, 0, 0.7);
      border-bottom: black 1px solid;
      padding: 10px 0;
      height: 60px;
    }

    .button {
      padding: 0 20px;
      border: none;
      background: none;
      cursor: pointer;
      transition: all 0.3s;
      border-bottom: 3px solid transparent;

      span {
        font-size: 14px;
        display: block;
      }
    }

    .button:hover {
      background-color: #e6e6e6;
    }

    .button.active {
      color: #0080ff;
      border-bottom-color: #0080ff;
    }

    .restaurantList {
      height: calc(100% - 60px);
      background-color: white;
      overflow: scroll;
      @media (max-width: 768px) {
        overflow-y: hidden;
        height: auto;
        min-height: calc(
          100% - 59px
        ); //60pxにするとscrollHiddenContainerFiftyが起動する
      }
    }
  }

  .mapContainer {
    width: 70%;
    height: 95dvh;
    z-index: 1;

    @media (max-width: 768px) {
      width: 100%;
      height: 50%;
      position: absolute;
      top: 0;
      z-index: 3;
    }
  }
}

.container :global(.gm-style-iw) {
  padding: 0;
  cursor: pointer;
  opacity: 0.9;
}

.container :global(.gm-style-iw-d) {
  padding: 0;
  overflow: unset !important;
}

.container :global(.gm-ui-hover-effect) {
  display: none !important;
}
