@import "@/styles/mixins.scss";

.container {
  .title {
    @include titleStyle;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    width: 100%;
  }
}
