.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;

  .title {
    font-size: 30px;
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 25px;
    }
  }

  .button {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 160px;
    padding: 10px;
    margin: 10px;
    background-color: #9198e5;
    border-radius: 5px;
    transition: 200ms;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: scale(1.05);
    }
  }
}
