@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.container {
  width: 650px;
  padding: 30px 10px;
  margin: 10px 0 25px 0;

  @media (max-width: 768px) {
    width: 90vw;
    padding: 0 10px;
  }

  .title {
    @include swipeSearchTitleStyle;
  }

  .slider {
    height: 15px;
    width: 550px;
    margin: 0 auto;
    background: $mediumGray;
    border-radius: 50px;
    position: relative;
    cursor: pointer;

    @media (max-width: 768px) {
      width: 80vw;
    }

    .background {
      background: $veryDarkGray;
      height: 100%;
      border-radius: 50px 0 0 50px;
      position: absolute;
      pointer-events: none;
    }

    .label {
      position: absolute;
      width: 20px;
      margin-top: 20px;
      margin-left: -10px;
      text-align: left;
      font-size: 13px;
    }

    .handle {
      border-radius: 100%;
      background: $black;
      width: 15px;
      height: 15px;
      cursor: grab;
      position: absolute;
      transform: translateX(-50%);
    }
  }
}
