.container {
    display: flex;
    direction: row;
}
  
.full {
    color: #FBBD04;
}
  
.grey {
    color: #DADCE0;
}
  
.partialContainer {
    position: relative;
    color: #DADCE0;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #FBBD04;
}