.container {
  width: 100%;
  margin: 0 0 40px 0;
  display: flex;
  font-size: 20px;
  font-weight: bold;

  @media (max-width: 768px) {
    margin: 0 0 20px 0;
  }

  .image {
    border-radius: 75px;
  }

  .leftContainer {
    margin: 0 50px;

    @media (max-width: 768px) {
      margin: 0 20px;
    }
  }

  .rightContainer {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;

    @media (max-width: 1264px) {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      row-gap: 10px;
      font-size: 16px;
    }

    .rightBottomContainer {
      display: flex;
      flex-direction: row;
      column-gap: 20px;

      @media (max-width: 768px) {
        column-gap: 10px;
      }

      span {
        @media (max-width: 768px) {
          display: inline-block;
        }
      }
    }
  }
}
