.container {
  display: flex;
  direction: row;

  .full {
    color: #fbbd04;
  }

  .grey {
    color: #dadce0;
  }

  .partialContainer {
    position: relative;
    color: #dadce0;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      color: #fbbd04;
    }
  }
}
